.shell {
  @mixin light {
    background-color: #f5f5f5;
    color: #333;
  }

  @mixin dark {
    background-color: #222;
    color: #f5f5f5;
  }
}

.light {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.dark {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
